@model DOAN_WEB.ViewModel.EmployeesViewModel
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.Rendering


@{
    //ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div class="sidebar-contents">
			<div id="sidebar-menu" class="sidebar-menu">
				<div class="mobile-show">
					<div class="offcanvas-menu">
						<div class="user-info align-center bg-theme text-center">
							<span class="lnr lnr-cross  text-white" id="mobile_btn_close">X</span>
							<a href="javascript:void(0)" class="d-block menu-style text-white">
								<div class="user-avatar d-inline-block mr-3">
									<img src="~/assets/img/profiles/@User.FindFirst(ClaimTypes.Uri).Value" alt="user avatar" class="rounded-circle" width="50">
								</div>
							</a>
						</div>
					</div>
					<div class="sidebar-input">
						<div class="top-nav-search">
							<form>
								<input type="text" class="form-control" placeholder="Search here">
								<button class="btn" type="submit"><i class="fas fa-search"></i></button>
							</form>
						</div>
					</div>
				</div>
				<ul>
					<li>
						<a href="/dashboard"><img src="~/assets/img/home.svg" alt="sidebar_img"> <span>Dashboard</span></a>
					</li>
					<li class="active">
						<a href="/employees"><img src="~/assets/img/employee.svg" alt="sidebar_img"><span> Employees</span></a>
					</li>
					@if (User.Identity.IsAuthenticated)
					{
						string username = User.Identity.Name;
						string macv = User.FindFirst(ClaimTypes.Role)?.Value;
						if (macv != "6")
						{
							<li>
								<a href="/company"><img src="~/assets/img/company.svg" alt="sidebar_img"> <span> Company</span></a>
							</li>
							<li>
								<a href="/calendar"><img src="~/assets/img/calendar.svg" alt="sidebar_img"> <span>Calendar</span></a>
							</li>
							<li>
								<a href="/leave"><img src="~/assets/img/leave.svg" alt="sidebar_img"> <span>Leave</span></a>
							</li>
							if (Int64.Parse(User.FindFirst(ClaimTypes.Role)?.Value) < 4)
							{
								<li>
									<a href="/review"><img src="~/assets/img/review.svg" alt="sidebar_img"><span>Review</span></a>
								</li>
							}

							if (Int64.Parse(User.FindFirst(ClaimTypes.Role)?.Value) < 3)
							{
								<li>
									<a href="/report"><img src="~/assets/img/report.svg" alt="sidebar_img"><span>Report</span></a>
								</li>
							}
							if (Int64.Parse(User.FindFirst(ClaimTypes.Role)?.Value) < 2)
							{
								<li>
									<a href="/manage"><img src="~/assets/img/manage.svg" alt="sidebar_img"> <span>Manage</span></a>
								</li>
							}
							<li>
								<a href="/settings"><img src="~/assets/img/settings.svg" alt="sidebar_img"><span>Settings</span></a>
							</li>
							if (Int64.Parse(User.FindFirst(ClaimTypes.Role)?.Value) < 4)
							{
								<li>
									<a href="/profile"><img src="~/assets/img/profile.svg" alt="sidebar_img"> <span>Profile</span></a>
								</li>
							}
							else
							{
								<li>
									<a href="/profile-setting"><img src="~/assets/img/profile.svg" alt="sidebar_img"> <span>Profile</span></a>
								</li>
							}
						}
						else
						{
							<li>
								<a href="/profile-setting"><img src="~/assets/img/profile.svg" alt="sidebar_img"> <span>Profile</span></a>
							</li>
						}
					}
				</ul>
				<ul class="logout">
					<li>
						<a href="/dang-xuat"><img src="~/assets/img/logout.svg" alt="sidebar_img"><span>Log out</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="row">
			<div class="col-xl-12 col-sm-12 col-12">
				<div class="breadcrumb-path mb-4">
					<ul class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/dashboard"><img src="~/assets/img/dash.png" class="mr-2" alt="breadcrumb" />Home</a>
						</li>
						<li class="breadcrumb-item active"> Employees</li>
					</ul>
					<h3>Employees</h3>
				</div>
			</div>
			<div class="col-xl-12 col-sm-12 col-12 mb-4">
				<div class="head-link-set">
					<ul>
						<li><a class="active" href="#">All</a></li>
						@if (Int64.Parse(User.FindFirst(ClaimTypes.Role)?.Value) < 5)
						{
							<li><a href="employee-team">Teams</a></li>
							<li><a href="employee-office">Offices</a></li>
						}
					</ul>
					@if(Int64.Parse(User.FindFirst(ClaimTypes.Role)?.Value) < 4)
					{
						<a class="btn-add" href="add-employee"><i data-feather="plus"></i> Add Person</a>
					}
				</div>
			</div>
			<div class="col-xl-12 col-sm-12 col-12 mb-4">
				<div class="row">
					<div class="col-xl-10 col-sm-8 col-12 ">
						<label class="employee_count">@Model.User.Where(a=>Int32.Parse(a.MaCv.ToString()) <6).Count() People</label>
					</div>
					<div class="col-xl-1 col-sm-2 col-12 ">
						@if (Int64.Parse(User.FindFirst(ClaimTypes.Role)?.Value) < 6)
						{
							<a href="employee-grid" class="btn-view "><i data-feather="grid"></i> </a>
						}
						
					</div>
					<div class="col-xl-1 col-sm-2 col-12 ">
						<a href="#" class="btn-view active"><i data-feather="list"></i> </a>
					</div>
				</div>
			</div>
			<div class="col-xl-12 col-sm-12 col-12 mb-4">
				<div class="card">
					<div class="table-heading">
						<h2>Project Summery</h2>
					</div>
					<div class="table-responsive">
						<table class="table  custom-table no-footer">
							<thead>
								<tr>
									<th>Name</th>
									<th>Line Manager</th>
									<th>Team</th>
									<th>Office</th>
									<th>Permissions</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								@foreach(var item in Model.User)
								{
									@if (item.MaCv != 6)
									{
										<tr>
										<td>
											<div class="table-img">
												<a href="/profile">
													<img src="~/assets/img/profiles/@item.ImgUser" alt="profile" class="img-table" /><label>@item.UserName</label>
												</a>
											</div>
										</td>
										<td>
											
											@if (item.LineManager==null)
											{
												<label class="action_label in_active">No</label>
											}
											else
											{
												<label class="action_label">@Model.User.FirstOrDefault(t=>t.IdUser==item.LineManager).UserName </label>
											}

										</td>
										<td>
											<label class="action_label2">@item.UserTeams.FirstOrDefault(t=>t.IdUser==item.IdUser)?.IdTeamNavigation?.TeamName </label>

										</td>
										<td><label>Focus Technologies	</label></td>
										<td><label>@item.MaCvNavigation.TenCv</label></td>
										<td class="tab-select">
											<select class="select">
												@if (item.Status==true)
												{
													<option value="active">Active</option>
													<option value="inactive">Inactive</option>
												}
												else
												{
													<option value="inactive">Inactive</option>
													<option value="active">Active</option>
												}
											</select>
										</td>
									</tr>
									}
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

